html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  color: #666666;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
